.products {
  margin: 0 -10px;
  row-gap: 28px;
}
.products .col-md-3 {
  padding: 0 10px;
  width: 20%;
}
.products .card {
  box-shadow: none;
  border-radius: 0;
}
.products .product-img {
  background: var(--bs-neutral-100);
  border-radius: 14px;
  height: 350px;
  padding: 14px 0;
}
.products .product-img img {
  border-radius: 14px;
  object-fit: contain;
}
.products .card {
  box-shadow: none;
  border-radius: 13px;
  border: 1px solid var(--bs-neutral-200) !important;
}
.products .card .card-body {
  padding: 1rem 10px 4px 10px;
}
.products .card .card-body p {
  color: var(--txt-title-color);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.products .product-price p {
  font-weight: 500;
}
.products .product-price del {
  color: var(--txt-paragrap-color);
  font-size: 14px;
}

.cart_action .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--bs-neutral-100);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart_action .btn:hover {
  background: var(--gradiant-color-600);
}

.cart_action .btn:hover svg .cart_btn {
  fill: var(--bs-white);
}

.wishlist-icon,
.quick-view {
  width: 40px;
  height: 40px;
  background: var(--bs-white);
  box-shadow: 0px 2px 4px -4px rgba(15, 28, 51, 0.04),
    0px 3px 8px -2px rgba(15, 28, 51, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.quick-action {
  gap: 8px;
  position: absolute;
  right: 14px;
  top: 14px;
  display: none;
}
.products .product .card:hover .quick-action {
  display: flex;
  flex-direction: column;
}

.promotion-label {
  width: 44px;
  height: 24px;
  border-radius: 4px;
  font-size: 13px;
  color: var(--bs-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 14px;
  top: 14px;
}

.promotion-label.if-new {
  background: var(--bs-info-500);
}
.promotion-label.if-sale {
  background: var(--bs-danger-500);
}
.cart_btn_20 {
  width: auto;
  height: auto;
}
.cart_btn_20_hover {
  display: none;
  width: auto;
  height: auto;
}
.cart_action .btn:hover .cart_btn_20_hover {
  display: block;
}
.cart_action .btn:hover .cart_btn_20 {
  display: none;
}
