.container-fluid {
  padding: 0 40px;
}
.mobile-nav-toggler {
  display: none;
}

.navbar-wrapper.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--bs-white);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: 0.5s all;
}

.navbar {
  height: 109px;
}
.navbar-wrapper {
  background: var(--bs-white);
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.04);
}
.navbar-nav {
  flex-direction: row;
  gap: 24px;
}
.navbar .brand-logo {
  width: 140px;
}
.navbar-nav .nav-item {
  width: 76px;
}
.navbar .navbar-links {
  gap: 64px;
}
.navbar-nav .nav-item .nav-link {
  color: var(--bs-neutral-500);
  font-weight: 500;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: var(--bs-neutral-900);
}

.retail-btn {
  position: relative;
  width: 218px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradiant-color-600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  /* border: 1px solid var(--bs-primary-500); */
  border-radius: 32px;
}
.retail-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 32px;
  padding: 1px;
  background: var(--gradiant-color-600);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.carts-link {
  height: 48px;
  background: var(--bs-neutral-100);
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  color: var(--bs-neutral-600);
  font-weight: 400;
  cursor: pointer;
}
.carts-link:hover {
  color: var(--bs-neutral-600);
}
.carts-link.wishlist {
  width: 134px;
}
.carts-link.cart {
  width: 148px;
}
.navbar-action {
  gap: 20px;
}
.navbar-action .btn-md {
  border-radius: 32px;
}
.badge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--gradiant-color-500);
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-action .wishlist-icon {
  position: relative;
}
.navbar-action .cart-icon {
  position: relative;
}
.user_account {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}
.user_account img {
  border-radius: 50%;
}
